{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="add_project_page">

  <div class="add_project_card">

    <div class="add_project_header">
      <h3>Edit Project</h3>
      <p>Update your project details</p>
    </div>

    {% if error %}
      <p style="color:red; text-align:center; margin-bottom:15px;">
        {{ error }}
      </p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <input type="hidden" name="is_draft" id="is_draft" value="false">
      <label class="form_label">Project Images</label>
      <div id="edit-drop-area" class="image_upload_box">
        <p><strong>Click or drop to upload new images</strong></p>
        <input type="file"
              id="editFileInput"
              name="images"
              multiple
              hidden>
        <div id="oldImages" class="preview-wrapper">
          {% for img in project.images.all %}
            <img src="{{ img.image.url }}" class="preview-img">
          {% endfor %}
        </div>
        <div id="newPreview" class="preview-wrapper"></div>
      </div>

      <div class="two_grid">
        <div>
          <label>Project Title</label>
          <input type="text" name="title" value="{{ project.title }}" required>
        </div>

        <div>
          <label>Category</label>
          <select name="category">
            <option value="UI Design" {% if project.category == "UI Design" %}selected{% endif %}>UI Design</option>
            <option value="Mobile App" {% if project.category == "Mobile App" %}selected{% endif %}>Mobile App</option>
            <option value="Web App" {% if project.category == "Web App" %}selected{% endif %}>Web App</option>
          </select>
        </div>
      </div>

      <label>Description</label>
      <textarea name="description">{{ project.description }}</textarea>

      <label>Tags</label>
      <input type="text" name="tags" value="{{ project.tags }}">

      <div class="three_grid">
        <div>
          <label>Visibility</label>
          <select name="visibility">
            <option value="public" {% if project.visibility == "public" %}selected{% endif %}>Public</option>
            <option value="private" {% if project.visibility == "private" %}selected{% endif %}>Private</option>
          </select>
        </div>

        <div>
          <label>License</label>
          <select name="license">
            <option value="all" {% if project.license == "all" %}selected{% endif %}>All Rights Reserved</option>
            <option value="free" {% if project.license == "free" %}selected{% endif %}>Free to Use</option>
          </select>
        </div>

        <div class="checkbox_box">
          <label>
            <input type="checkbox" name="allow_download"
              {% if project.allow_download %}checked{% endif %}>
            Enable downloads
          </label>
        </div>
      </div>

      <div class="form_actions">
        <button type="submit"
                name="action"
                value="draft"
                class="draft_btn">
          Save as Draft
        </button>
        <button type="submit"
                name="action"
                value="private"
                class="draft_btn">
          Save as Private
        </button>
        <button type="submit"
                name="action"
                value="publish"
                class="publish_btn">
          Publish Project
        </button>
      </div>

    </form>

  </div>

</div>
<script src="{% static 'js/edit_project.js' %}"></script>
{% endblock %}