{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>VTS Designers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'img/favicon_image.png' %}">
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>
<body>

  <div class="landing-box">
    <div class="landing-content">
      <h1>VTS Designers</h1>
      <p>Choose your login type</p>

      <div class="landing-buttons">
        <a href="/admin-login/" class="admin-btn">Admin Login</a>
        <a href="/login/" class="user-btn">User Login</a>
      </div>
    </div>
  </div>

</body>
</html>
