{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="profile_wrapper">

  <h2 class="profile_title">Profile</h2>

  {% if messages %}
    {% for message in messages %}
      <p style="color:red; margin-bottom:10px;">
        {{ message }}
      </p>
    {% endfor %}
  {% endif %}

  <form method="post" class="profile_form">
    {% csrf_token %}

    <div class="form_group">
      <label>Name</label>
      <input type="text" value="{{ request.user.username }}" disabled>
    </div>

    <div class="form_group">
      <label>Occupation</label>
      <input type="text" name="occupation" value="{{ profile.occupation }}">
    </div>

    <div class="form_group">
      <label>Company Name</label>
      <input type="text" name="company" value="{{ profile.company }}">
    </div>

    <div class="form_group">
      <label>Location</label>
      <input type="text" name="location" value="{{ profile.location }}">
    </div>

    <div class="form_group">
      <label>Website URL</label>
      <input type="url" name="website" value="{{ profile.website }}">
    </div>

    <div class="form_group">
      <label>About Title</label>
      <input type="text" name="about_title" value="{{ profile.about_title }}">
    </div>

    <div class="form_group">
      <label>Projects Description</label>
      <textarea name="project_description" rows="5">
      {{ profile.project_description }}</textarea>
    </div>
    
    <div id="custom-sections"></div>

    <button type="button" id="add-section-btn" class="add_section_btn">
      + Add Custom Section
    </button>

    <div class="profile_actions_1">
      <button type="button" class="logout_btn" onclick="openLogoutPopup()">
        Logout
      </button>

      <button type="submit" class="profile_submit">
        Submit
      </button>
    </div>

  </form>

  <!-- LOGOUT POPUP -->
  <div id="logout-popup" class="logout_popup">
    <div class="logout_popup_box">
      <p>Do you want to log out?</p>

      <div class="logout_actions">
        <button type="button" onclick="confirmLogout()" class="yes_btn">Yes</button>
        <button type="button" onclick="closeLogoutPopup()" class="no_btn">No</button>
      </div>
    </div>
  </div>

</div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
