body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    120deg,
    #d9ecff 0%,
    #f2f2f2 50%,
    #ffe6d5 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.landing-box {
  width: 420px;
  max-width: 90%;
  background: #ffffff;
  border-radius: 20px;
  padding: 45px 35px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.landing-box h1 {
  margin-bottom: 8px;
}

.landing-box p {
  margin-bottom: 30px;
  color: #555;
}

.landing-buttons {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.landing-buttons a {
  padding: 12px 26px;
  border-radius: 14px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease;
}

.admin-btn {
  background: #333;
}
.admin-btn:hover {
  background: #000;
  transform: translateY(-3px);
}

.user-btn {
    background-color: #ff0488;
}
.user-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(255, 0, 106, 0.4);
}
