@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.login-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #cce7ff, #ffe0c7);
}

.login-box {
    padding: 40px 50px;
    border-radius: 14px;
    max-width: 400px;
    width: 100%;
}

.login-title {
    text-align: center;
    margin-bottom: 30px;
}

.login-box label {
    display: block;
    padding: 8px 0;
    font-weight: 500;
}

.login-box input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    background: transparent;
    font-family: 'Inter', sans-serif;
}

.login-box input::placeholder {
    color: black;
}

.login-box div{
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #ff0a8a;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-btn:hover {
    background: #e60078;
}

@media (max-width: 767px){
    .login-box{
        max-width: 100%;
    }
}