{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="messages-page">

  <!-- LEFT -->
  <div class="messages-left">

    <div class="messages-header">
      <i class="ri-mail-line"></i>
      <h3>Messages</h3>
    </div>

    <div class="message-tabs">
      <span class="tab active" data-tab="all">All</span>
      <span class="tab" data-tab="new">New</span>
    </div>

    <div class="message-users">

      {% for msg in all_messages %}
      <div
        class="msg-row {% if not msg.is_read %}unread{% endif %}"
        data-id="{{ msg.id }}"
        data-read="{{ msg.is_read|yesno:'1,0' }}"
      >
        <img src="{% static 'img/header_user_profile.png' %}">
        <div>
          <strong>{{ msg.sender.username }}</strong>
          <p>{{ msg.text|truncatechars:35 }}</p>
        </div>
      </div>
      {% endfor %}

    </div>

    <a href="{% url 'compose_message' %}" class="compose-btn">
      + Compose
    </a>
  </div>

  <!-- RIGHT PREVIEW -->
  <div class="messages-right" id="message-preview">
    <div id="message-preview"></div>
  </div>

</div>
<script src="{% static 'js/messages.js' %}"></script>

{% endblock %}