{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="dashboard">
    <div class="dashboard-container">
        <div class="dashboard-card">
            <p>Total Projects</p>
            <h3>{{ total_projects }}</h3>
            <small>From your uploads</small>
            <i class="ri-folder-fill"></i>
        </div>

        <div class="dashboard-card">
            <p>Messages</p>
            <h3>{{ total_messages }}</h3>
            <small>Inbox messages</small>
            <i class="ri-mail-fill"></i>
        </div>

        <div class="dashboard-card">
            <p>Candidates</p>
            <h3>{{ total_candidates }}</h3>
            <small>Total users</small>
            <i class="ri-team-fill"></i>
        </div>

        <div class="dashboard-card">
            <p>Notifications</p>
            <h3>{{ total_notifications }}</h3>
            <small>Updates & alerts</small>
            <i class="ri-notification-3-fill"></i>
        </div>

    </div>

    <!-- ================= DASHBOARD BODY ================= -->
    <div class="dashboard-body">
        <div class="dashboard-main">

            <!-- ===== UPLOAD BOX ===== -->
            <form method="post"
                action="{% url 'add_project' %}"
                enctype="multipart/form-data"
                class="upload-box"
                id="dashboardUploadForm"
                autocomplete="off">
                {% csrf_token %}
                <div class="upload-header">
                    <h3>Upload New Project</h3>
                    <button type="submit" class="new-project-btn">
                        + New Project
                    </button>
                </div>
                <div class="upload-area" id="dash-drop-area">
                    <i class="ri-upload-cloud-fill"></i>
                    <p>Drop your files here</p>
                    <small>or click to browse</small><br><br>
                    <button type="button"
                            class="choose-btn"
                            onclick="document.getElementById('dashboardFileInput').click()">
                        Choose Files
                    </button>
                    <input type="file"
                        id="dashboardFileInput"
                        name="images"
                        multiple
                        hidden>
                        <input type="hidden" name="from_dashboard" value="true">
                        <!-- IMAGE PREVIEW -->
                        <div id="dashboardPreview"></div>
                </div>
                <div class="upload-footer">
                    <div>
                        <h2>Project Title</h2>
                        <input type="text"
                            name="title"
                            required
                            placeholder="Enter Project Title">
                    </div>
                    <div>
                        <h2>Category</h2>
                        <select name="category" required>
                            <option value="">Select</option>
                            <option>UI Design</option>
                            <option>Web App</option>
                            <option>Mobile App</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="action" id="dashboard_action" value="publish">
                <div class="form_actions">
                    <button type="submit"
                            class="draft_btn"
                            onclick="setDashboardAction('draft')">
                        Save as Draft
                    </button>

                    <button type="submit"
                            class="publish_btn"
                            onclick="setDashboardAction('publish')">
                        Publish Project
                    </button>
                </div>
            </form>
        </div>

        <!-- ========== RIGHT SIDE AREA ========== -->
        <div class="dashboard-side">
            <div class="side-box">
                <div class="side-header">
                    <h4>Recent Messages</h4>
                    <a href="/messages/">View All</a>
                </div>

                {% for msg in recent_messages %}
                    <div class="message-item">
                        <img
                          src="{% if msg.sender.profile.image %}
                               {{ msg.sender.profile.image.url }}
                               {% else %}
                               {% static 'img/header_user_profile.png' %}
                               {% endif %}"
                          class="message-avatar">

                        <div class="message-text">
                            <strong>{{ msg.sender.username }}</strong>
                            <p>{{ msg.text|truncatechars:45 }}</p>
                            <small>{{ msg.created_at|timesince }} ago</small>
                        </div>
                    </div>
                {% empty %}
                    <p>No messages</p>
                {% endfor %}
            </div>

            <!-- ===== Notifications ===== -->
            <div class="side-box">
                <div class="side-header">
                    <h4>Notifications</h4>
                    <a href="{% url 'notifications' %}">
                        <i class="ri-arrow-right-up-box-line"></i>
                    </a>
                </div>
                {% for note in recent_notifications %}
                    <div class="notification-item">
                        <i class="ri-user-3-fill notify-icon"></i>
                        <div>
                            <p>{{ note.text }}</p>
                            <small>{{ note.created_at|timesince }} ago</small>
                        </div>
                    </div>
                {% empty %}
                    <p>No notifications</p>
                {% endfor %}
            </div>
            <div class="side-box">

                <div class="side-header">
                    <h4>Available Candidates</h4>
                </div>

                {% for user in available_candidates %}
                <div class="candidate-item">
                    <img src="{% static 'img/header_user_profile.png' %}" alt="user">

                    <div class="candidate-info">
                        <strong>{{ user.username }}</strong>
                        <small>UI/UX Designer</small>
                    </div>

                        <a href="{% url 'hire_profile' user.id %}" class="hire-btn">
                        Hire
                        </a>
                    </div>
                    {% empty %}
                    <p>No candidates available</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}